.App {
  text-align: left;
  font-size: 24px;
}

.container {
  margin: 10px;
}

.lesson-one {
  background-color: lightgray;
}

.lesson-two {
  background-color: lightyellow;
}

.lesson-three {
  background-color: lightpink;
  margin: 20px 0 0 0;
}

.communication-block {
  display: flex;
  width: 100%;
  height: 80vh;
}