.App {
  text-align: left;
  font-size: 24px;
  padding: 20px;
}

.lesson-one {
  background-color: lightgray;
}

.lesson-two {
  background-color: lightyellow;
}

.lesson-three {
  background-color: lightpink;
  margin: 20px 0 0 0;
}